@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic);

body {
  font-family:'Open Sans', sans-serif;
  line-height: 26px;
  overflow-x: hidden;
  background-color: rgba(200, 200, 200, 0.1)
}

h1, h2, h3, h4 {
  font-weight: normal;
}

p
{
  margin: 15px 0;
}


strong.profile
{
  font-size: 18px;
}

blockquote.profile p
{
  font-size: 14px;
}

footer p,
div.bottom p
{
  margin : 0 0 10px;
}

#top-bar {
  height: 250px;
  overflow: hidden
}

#top-bar > div
{
  background: url(http://farm6.staticflickr.com/5511/coverphoto/51673326@N06_h.jpg?1381107500#51673326@N06);
  background-position: 50% 43%;
  background-size: cover;
  height: 100%;
}

#wrapper {
  width: 100%;
  overflow: hidden;
}

header {
  height: 44px;
  background-color: rgba(200, 200 ,200, 0.4);
}

header h1 {
  font-size: 28px;
  margin: 10px 0 0 0;
  display: inline-block;
  position: absolute;
  top: 150px;
  color: white;
  text-shadow: 1px 1px 10px rgba(20, 20, 20, 0.5)
}
header #header-wrapper {
  width: 1170px;
  margin: 0px auto;
  padding-left: 20px;
  padding-right: 20px;
}

#main {
  width: 1170px;
  margin: 2em auto;
}

#search-container {
  float: right;
  margin-top: 2px;
  text-align: right
}

ul.left-nav 
{
  margin-top: 1em;
}

article
{
  overflow: hidden;
}

article span.info 
{
  display: inline-block;
  margin-top: 1em;
  margin-right: 1em;
}

article span.info > i
{
  padding-right: 5px;
}

article span.info > a 
{
  color: inherit;
}

article span.info > a:hover 
{
  text-decoration: none;
  color: #005580;
}

#posts article:not(:first-child) {
    margin-top: 3em;
}

.post article:first-child > h2, 
#posts article:first-child > h2 
{
  margin-top: 0;
}

.navbar-search .search-query 
{
  line-height: normal;
}

footer p.heading
{
  font-size: 18px;
  color: #DBDBDB;
  font-weight: normal;
  border-bottom: solid 1px #363738;
  padding-bottom: 10px;
}

footer p.heading small
{
  float: right;
  font-style: italic;
}

footer {
  height: 200px;
  background-color: #565656;
}

footer .footer-row
{
  width: 1170px;
  margin: 0 auto;
  padding-top: 1em;
  color: #C3C0B9;
}

footer ul 
{
  list-style: none;
  padding: 0;
  margin: 0;
  opacity : 0.7;
}

footer ul li
{
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}

footer ul#social-media li
{
  margin-right: 8px;
}

footer ul#slideshow li img
{
  width: 55px;
}

div.bottom 
{
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color:#444444;
  color: #C3C0B9; 
}

#disqus_thread 
{
  margin-top: 2em;
}

h1 > a 
{
  color: white;
  display: block;
  font-size: 30px;
}

h1 > a:hover 
{
  text-decoration: underline;
  color: white;
}

h2:first-child
{
  display: block;
  background-color: #444b5b;
  padding: 5px 10px;
  color: #eee;
  overflow: auto;
}

article > h2 > .title, 
h2 > a
{
  color: #eee;
  width: 75%;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  float: left;
}


h2 > a:hover 
{
  text-decoration: none;
  color: #ccc;
}

ol.admin-list li
{
  line-height: 30px;
}

article div.gallery 
{
  height: 600px;
  width: 100%;
  background-color: black;
  margin-bottom: 13px;
  padding-top: 5px;
}

.portfolio-entry
{
  margin-bottom: 3em;
}

.case-study 
{
  background-color: rgba(200, 200, 200, 0.1);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 5px 15px 0 15px;
  margin-bottom: 3em;
  overflow: auto;
}

li, dd, dt
{
  line-height: 24px;
}

iframe 
{
  max-width: 100%
}

article div.gallery 
{
  max-width: 100%
}

.carousel-control 
{
  line-height: 24px;
}

#dsa-carousel 
{
  max-width:768px; 
  margin: 0 auto;
}

.portfolio-text-container h3,
.page-header h3,
#sidebar h3,
#main-content > h3
{
  display: block;
  background-color: #444b5b;
  padding: 5px 10px;
  color: #eee;
}

.page-header
{
  border-bottom: 0;
  margin: 0;
}

.page-header h3
{
  margin-top: 0;
}

#main-content > h3:first-of-type,
#sidebar h3:first-child
{
  margin-top: 0;
}

.profile
{
  margin-bottom: 20px;
}

.profile > img {
  float: left;
  width: 56%;
  margin-right: 10px;
}

h2, h3
{
  font-size: 30px;
}

ul.social,
ul.latest {
  list-style-type: none;
  margin: 0;
  overflow: auto;
}


ul.latest > li {
  margin: 0 0 10px 0;
}

ul.latest > li > span {
  display: block;
  font-size: 14px;
  color: rgba(100, 100, 100, 0.8);
}

ul.social > li > a,
ul.latest > li > a {
  color: rgba(50, 50, 50, 0.9);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}

ul.social > li > a {
  font-size: 14px;
}

ul.social > li > a > img {
  width: 18px
}

@media (max-width: 1180px)   
{
  h2, h3
  {
    font-size: 24px;
  }

  header #header-wrapper {
    width: 95%;
  } 
  
  #main {
    width: 95%;
  }
  
  footer .footer-row {
    width: 95%;
  }

  ul.social {
    display: none;
  }
  .profile > img {
    width: 100%;
    float: none;
  }
}

 @media (max-width: 745px)
{
  header #header-wrapper {
    width: 99%;
  } 
  
  #main {
    width: 99%;
  }
  
  footer .footer-row {
    width: 99%;
  }

  #main > div > div > div.span9
  {
    width: 100%
  }

  #main > div > div > div.span3
  {
    display: none;
  }

  footer > .footer-row > div > div > div:first-child
  {
    width: 100%;
  }

  footer > .footer-row > div > div > div:nth-child(n+2)
  {
    display: none;
  }

  #search-container
  {
    display: none;
  }

  .navbar
  {
    display: block;
  }

  h2
  {
    position: relative;
    font-size: 20px;
  }

  h2 > span
  {
    display: none;
  }

  .bottom p
  {
    font-size: 10px;
  }

  header #header-wrapper
  {
    margin: 0;
    padding: 0;
  }

  .navbar-inner
  {
    padding-left: 0;
  }

  #main
  {
    margin: 20px auto;
  }
}
 