<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Nancy" version="0.11.0" />
  <package id="Nancy" version="0.15.1" targetFramework="net40" />
  <package id="Nancy.Authentication.Forms" version="0.15.1" targetFramework="net40" />
  <package id="Nancy.Hosting.Aspnet" version="0.11.0" />
  <package id="Nancy.Hosting.Aspnet" version="0.15.1" targetFramework="net40" />
  <package id="Nancy.Viewengines.Spark" version="0.11.0" />
  <package id="Nancy.Viewengines.Spark" version="0.15.1" targetFramework="net40" />
  <package id="Spark" version="1.5.1.6" />
  <package id="Spark" version="1.7.5.1" targetFramework="net40" />
</packages>