<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="spark" type="Spark.Configuration.SparkSectionHandler, Spark" />
  </configSections>
  <spark>
    <compilation debug="true" defaultLanguage="CSharp" />
    <pages automaticEncoding="true">
      <namespaces>
        <add namespace="Spark" />
        <add namespace="System" />
        <add namespace="System.Linq" />
        <add namespace="System.Collections" />
        <add namespace="System.Collections.Generic" />
        <add namespace="grhughes.com.Website.Core.Model" />
        <add namespace="grhughes.com.Website.Web.Helpers" />
      </namespaces>
    </pages>
  </spark>
  <appSettings>
    <add key="OAuthSecret" value="" />
    <add key="OAuthClientId" value="" />
    <add key="OAuthEmail" value="" />
    <add key="OAuthRedirect" value="" />
  </appSettings>
  <connectionStrings>
    <add name="Simple.Data.Properties.Settings.DefaultConnectionString" providerName="System.Data.SqlClient" connectionString="Server=(local)\SQLEXPRESS; Database=blog; Integrated Security=SSPI" />
  </connectionStrings>
  <system.web>
    <httpHandlers>
      <add verb="*" type="grhughes.com.Website.MetaWeblog.MetaWeblog" path="/metaweblog" />
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers>
    <customErrors mode="Off" />
    <compilation debug="true" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="MetaWeblog" verb="*" type="grhughes.com.Website.MetaWeblog.MetaWeblog" path="/metaweblog" />
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
  </system.webServer>
</configuration>