<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="spark" type="Spark.Configuration.SparkSectionHandler, Spark" />
  </configSections>
  <spark>
    <compilation debug="true" defaultLanguage="CSharp" />
    <pages automaticEncoding="true">
      <namespaces>
        <add namespace="Spark" />
        <add namespace="System" />
        <add namespace="System.Linq" />
        <add namespace="System.Collections" />
        <add namespace="System.Collections.Generic" />
        <add namespace="grhughes.com.Website.Core.Model" />
        <add namespace="grhughes.com.Website.Web.Helpers" />
      </namespaces>
    </pages>
  </spark>
  <appSettings>
    <add key="OAuthSecret" value="fXdKlU39-YGYV-XziCpcjBXj" />
    <add key="OAuthClientId" value="646521671923.apps.googleusercontent.com" />
    <add key="OAuthEmail" value="646521671923@developer.gserviceaccount.com" />
    <add key="OAuthRedirect" value="http://dev.grhugh.es:8081/oauth-callback" />

    <add key="IndexPath" value="~/App_Data/searchindex" />
  </appSettings>
  <connectionStrings>
    <add name="Simple.Data.Properties.Settings.DefaultConnectionString" providerName="System.Data.SqlClient" connectionString="Server=ddd40a15-8d33-4053-a422-a15101730dd3.sqlserver.sequelizer.com;Database=dbddd40a158d334053a422a15101730dd3;User ID=jhpqampjpfhlkszy;Password=tcGQ7qEsMeeujDfMYXkvyZXak3g6yhmEv3dkJqagUsb6yrmfhLKJGGGBmGDeiG2E;" />
  </connectionStrings>
  <system.web>
    <httpHandlers>
      <add verb="*" type="grhughes.com.Website.MetaWeblog.MetaWeblog" path="/metaweblog" />
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers>
    <customErrors mode="Off" />
    <compilation debug="true" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="MetaWeblog" verb="*" type="grhughes.com.Website.MetaWeblog.MetaWeblog" path="/metaweblog" />
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
  </system.webServer>
</configuration>